* {
    margin: 0;
    padding: 0;
}

.App{
    display: -ms-flexbox;
    width: 100vh;
}

.mainNavbar {
    background-color: rgb(203, 226, 49);
    height: 60px;
    width: 230%;
    padding: 5px;
    padding-top:15px;
    justify-content: space-between;   
    display: flex;
    vertical-align: center;
    box-shadow: 2px 2px 2px darkslategrey ;
}

.leftBox {
    
    margin: 2px;
}

.mainName {
    position: relative;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    vertical-align: 18px;
}

.midBox input {
    width: 800px;
    height: 20px;
    border-radius: 8px;
    border-color: rgb(249, 249, 249);
}

.rightBox button {
    margin: 10px;
    width: 80px;
    height: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0);
    margin-right: 15px;
}

.default-button {
    margin: 10px;
    width: 80px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(63, 27, 244);
    color:white;
    font-weight: bold;
    cursor: pointer;
}

.default-button:hover {
    background-color: rgb(86, 86, 243);
}

.sideBar {
    position: absolute;
    width: 300px;
    height: 500px;
    background-color: rgb(194, 199, 171);
    padding: 10px;
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.selector {
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.header {
    position: relative;
    top: 70px;
    left: 600px;
}

.footer{
    background: darkslategrey;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
}

.footer h3 {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 50%;
}

.productList {
    width: 1600px;
    height: 1200px;
    position: relative;
    background: #c4bfbf;
    left: 50%;
    top: 200px;
}

