* {
    margin: 0;
    padding: 0;
}

.App{
    display: flexbox;
}

.mainNavbar {
    background-color: rgb(142, 187, 53);
    height: 60px;
    width: 100%;
    padding: 5px;
    padding-top:15px;
    justify-content: space-between;   
    display: flex;
    vertical-align: center;
}

.leftBox {
    
    margin: 2px;
}

.mainName {
    position: relative;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;;
    vertical-align: 18px;
}

.midBox input {
    width: 800px;
    height: 20px;
    border-radius: 8px;
    border-color: rgb(249, 249, 249);
}

.rightBox button {
    margin: 10px;
    width: 80px;
    height: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0);
    margin-right: 15px;
}

.default-button {
    margin: 10px;
    width: 80px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(63, 27, 244);
    color:white;
    font-weight: bold;
    cursor: pointer;
}

.default-button:hover {
    background-color: rgb(86, 86, 243);
}

.sideBar {
    position: absolute;
    width: 300px;
    height: 100vh;
    background-color: rgb(194, 199, 171);
    padding: 10px;;
    
}

.selector {
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.header {
    position: relative;
    top: 70px;
    left: 400px;
}


